<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="928f9d">  <td>21/05/31 17:42:45</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Loop_DataEntry_Login_csv.afterTest()[pri:0, instance:ExcelReadWritePCKG.Loop_DataEntry_Login_csv@482bce4f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@702061917</td>   <td></td> </tr>
<tr bgcolor="928f9d">  <td>21/05/31 17:41:24</td>   <td>-80974</td> <td>&nbsp;</td><td title="&gt;&gt;Loop_DataEntry_Login_csv.beforeTest()[pri:0, instance:ExcelReadWritePCKG.Loop_DataEntry_Login_csv@482bce4f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@702061917</td>   <td></td> </tr>
<tr bgcolor="928f9d">  <td>21/05/31 17:41:35</td>   <td>-70597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Loop_DataEntry_Login_csv.enterValues()[pri:0, instance:ExcelReadWritePCKG.Loop_DataEntry_Login_csv@482bce4f]">enterValues</td> 
  <td>main@702061917</td>   <td></td> </tr>
</table>
